:root {
  --text: #6b6375;
  --shadow: rgb(0 0 0 / 10%) 0 10px 15px -3px, rgb(0 0 0 / 5%) 0 4px 6px -2px;
  --sans: system-ui, "Segoe UI", roboto, sans-serif;
  --ff-lexend-deca: "Lexend Deca", sans-serif;
  --ff-big-shoulders: "Big Shoulders", sans-serif;
  --default-white: hsl(0deg 0% 100%);
  --luxury-clr: hsl(179deg 100% 13%);
  --suv-clr: hsl(184deg 100% 22%);
  --sedans-clr: hsl(31deg 80% 38%);
  --fw-light: 400;
  --fw-bold: 700;

  background: #f2f2f2;
  font-synthesis: none;
  font-style: normal;
  font-optical-sizing: auto;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (width <= #{$breakpoint-lg}) {
    font-size: 1.25rem;
  }
}

main {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.card-holder {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 80%;

  @media (max-width: $breakpoint-lg) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    max-width: 90%;
  }

  > article {
    &:nth-child(1) {
      @media (min-width: $breakpoint-lg) {
        border-end-start-radius: $card-radius;
        border-start-start-radius: $card-radius;
      }

      @media (max-width: $breakpoint-lg) {
        border-start-start-radius: $card-radius;
        border-start-end-radius: $card-radius;
      }
    }

    &:nth-last-child(1) {
      @media (min-width: $breakpoint-lg) {
        border-end-end-radius: $card-radius;
        border-start-end-radius: $card-radius;
      }

      @media (max-width: $breakpoint-lg) {
        border-end-start-radius: $card-radius;
        border-end-end-radius: $card-radius;
      }
    }
  }
}
