:root {
  --text: #6b6375;

  --shadow: rgba(0, 0, 0, 0.1) 0 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, "Segoe UI", Roboto, sans-serif;

  --default-white: hsl(0, 0%, 100%);
  --luxury-clr: hsl(179, 100%, 13%);
  --suv-clr: hsl(184, 100%, 22%);
  --sedans-clr: hsl(31, 80%, 38%);

  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

main {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

#card-holder {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 80%;

  @media (max-width: 1024px) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    max-width: 90%;
  }

  > article {
    &:nth-child(1) {
      @media (min-width: $breakpoint-lg) {
        border-end-start-radius: $card-radius;
        border-start-start-radius: $card-radius;
      }

      @media (max-width: $breakpoint-lg) {
        border-start-start-radius: $card-radius;
        border-start-end-radius: $card-radius;
      }
    }

    &:nth-child(3) {
      @media (min-width: $breakpoint-lg) {
        border-end-end-radius: $card-radius;
        border-start-end-radius: $card-radius;
      }

      @media (max-width: $breakpoint-lg) {
        border-end-start-radius: $card-radius;
        border-end-end-radius: $card-radius;
      }
    }
  }
}
