.card {
  padding: 40px;
  color: var(--default-white);
  font-family: var(--ff-lexend-deca);
  font-weight: var(--fw-light);
  display: grid;
  gap: 1em;
  justify-items: start;

  @media (width <= 1024px) {
    gap: 0.5em;
    padding: 20px;
  }

  @media (width >= 1024px) {
    height: 450px;
    width: 300px;
  }
}

.card-heading {
  font-family: var(--ff-big-shoulders);
  font-weight: var(--fw-bold);
}

.card-learn-btn {
  padding: 10px;
  border-color: var(--default-white);
  border-radius: 50px;
  border-style: double;
  height: 50px;
  background-color: var(--default-white);

  &:active {
    background-color: transparent;
  }
}

.card-learn-btn[data-colour="Luxury"] {
  color: var(--luxury-clr);
}

.card-learn-btn[data-colour="SUVs"] {
  color: var(--suv-clr);
}

.card-learn-btn[data-colour="Sedans"] {
  color: var(--sedans-clr);
}

[data-colour] {
  &:active {
    color: var(--default-white);
  }
}

.card[data-card-colour="Sedans"] {
  background-color: var(--sedans-clr);
}

.card[data-card-colour="SUVs"] {
  background-color: var(--suv-clr);
}

.card[data-card-colour="Luxury"] {
  background-color: var(--luxury-clr);
}
