.card {
  padding: 2.5rem;
  color: var(--default-white);
  font-family: var(--ff-lexend-deca);
  font-weight: var(--fw-light);
  display: grid;
  gap: 1em;
  justify-items: start;

  @media (width <= #{$breakpoint-lg}) {
    gap: 0.5em;
    padding: 1.25rem;
    height: 21.875em;
  }

  @media (width >= #{$breakpoint-lg}) {
    height: 28.125em;
    width: 18.75em;
  }
}

.card-heading {
  font-family: var(--ff-big-shoulders);
  font-weight: var(--fw-bold);
}

.card-learn-btn {
  padding: 0.625rem;
  border-color: var(--default-white);
  border-radius: 3.125rem;
  border-style: double;
  height: 3.125rem;
  background-color: var(--default-white);

  &:active {
    background-color: transparent;
  }
}

.card-learn-btn[data-colour="Luxury"] {
  color: var(--luxury-clr);
}

.card-learn-btn[data-colour="SUVs"] {
  color: var(--suv-clr);
}

.card-learn-btn[data-colour="Sedans"] {
  color: var(--sedans-clr);
}

[data-colour] {
  &:active {
    color: var(--default-white);
  }
}

.card[data-card-colour="Sedans"] {
  background-color: var(--sedans-clr);
}

.card[data-card-colour="SUVs"] {
  background-color: var(--suv-clr);
}

.card[data-card-colour="Luxury"] {
  background-color: var(--luxury-clr);
}
